.svn
.idea
.DS_Store
/node_modules
/bower_components
/vendor
npm-debug.log
yarn-error.log
*.log
/runtime
/public/assets/css/*
/public/assets/js/dependencies
/public/assets/final
/config/*
!/config/database.example.php
!/config/general.example.php
!/config/services.example.php
robots.txt