body{
	color: #4b4846;
	
	main{
		padding-bottom: 50px;
	}
}

a{
	color: #4b4846;
	
	&:hover{
		text-decoration: none;
	}
}

.wrap-breadcrumbs{
	margin-bottom: 20px;
}

.page-title{
	color: #007bff;
	margin-bottom: 20px;
}
